@import '~normalize.css'; 
/* ~ указывает, что нужно перейти в папку node_modules */
@import 'roboto.css'; 
/* Webpack собирает модули CSS c использованием asset modules*/

body {
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 15px auto;
}